.hero-bg {
	height: 100vh;
	background-image: url('../Assets/Images/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: auto;
}

.hero {
	margin-top: 15%;
	width: 95vw;
	display: flex;
	justify-content: space-between;
}

.intro {
	color: white;
	background: rgba(0, 0, 0, 0.95);
	border-radius: 15px;
}

.carousel {
	width: 150px;
}

.carousel-indicators {
	display: none;
}

.carousel-control-prev {
	display: none;
}

.carousel-control-next {
	display: none;
}