.latest-container {
	border: 3px solid black;
	background-color: lightgrey;
	width: 90%;
}

.latest-container h2 {
	padding: 15px 0 0 15px;
}

.dots-container {
	display: flex;
	padding: 10px;
	border-bottom: 3px solid red;
}

#dot-1 {
	background-color: #fc6058;
}

#dot-2 {
	background-color: #fec02f;
}

#dot-3 {
	background-color: #2aca3e;
}

.browser-dot {
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.project-card {
	width: 18rem;

	-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.6); 
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.6);

	transition: ease-in-out 0.25s;
}

.project-card:hover {
	transform: scale(1.025);
}

.project-title {
	text-align: center;
}